<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <p>i am head</p>
        <link rel="stylesheet" type="text/css" href="static/dataform/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <p>i am body</p>
        <script type="text/javascript" src="static/dataform/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="static/dataform/jquery/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="static/dataform/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
<p>Hello World...</p>